body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.taskThree h1 {
    color: #445161;
    font-size: 30px;
}

.taskThree h2 {
    color: #445161;
    font-size: 25px;
}

.taskThree .text {
    color: #333333;
    line-height: 25px;
}

.taskThree .bold {
    color: #333333;
    font-weight: 700;
}

.taskThree .red {
    color: #ff0000;
}