/*
Итак.. что мы будем делать сегодня вы уже, наверное, знаете - комбинирование п-элементов с п-классами!
Для начала стилизируем страницу. Стилизация будет такой же как и в основном конспекте, HTML то тот же:
*/

body {
	padding: 30px;
}

.text {
	font-size: 24px;
	line-height: 33px;
	margin: 0 0 30px 0;
}

.text::first-letter {
	font-size: 50px;
	color: #f00;
}

.list li {
	font-size: 24px;
	margin: 0 0 20px 0;
}

.list li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #f00;
	margin: 0 10px 0 0;
}

/*
А теперь начнем. Комбинировать п-элементы и п-классы надо в определенном порядке, но в каком -
узнаем "на ходу"! к примеру, я хочу изменить цвет красной точки созданной для li'шек через before
при наведении на любой элемент. Для этого я обращаюсь к тегу li внутри тега с классом list, ставлю
одно двоеточие и прописываю слово hover, затем ставлю уже ДВА двоеточия и прописываю before. Внутри
фигурных скобок прописываю пустое свойство content и затем меняю цвет кружка:
*/

.list li:hover::before {
	content: "";
	background-color: #ff0;
}

/*
Profit! комбинировать всё это просто - сначала п-класс, затем п-элемент.

А на этом всё! ДЗ в папке "Домашка" :)
*/