/*
Для начала надо добавить стилей к нашей странице. Так как код в index.html взят из основного конспекта,
то и стили будут такими же, как и в основном конспекте:
*/

.block {
	margin: 0 0 30px 0;
}

.block p {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.link {
	color: red;
}

.textInput {
	width: 300px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #666;
	padding: 0 15px;
	margin: 0 0 10px 0;
}

.textButton {
	display: block;
	width: 300px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	background-color: #666;
	margin: 0 0 30px 0;
}

/*
А еще надо бы паддингов для body добавить, так вообще круто будет!
*/

body {
	padding: 20px;
}

/*
Итак. Есть у нас кнопка в форме (качок!), хочу я к ней применить несколько псевдоклассов состояния.
Например, при наведении я хочу изменить цвет фона на более темный, цвет текста, также я хочу изменить,
на желтый например. Сделаем это!
*/

.textButton:hover {
	background-color: #333;
	color: yellow;
}

/*
Отлично! с наведением разобрались, теперь разберемся со стилями при нажатии на кнопочку.
Просто сделаем цвет фона почти белым:
*/

.textButton:active {
	background-color: #eee;
}

/*
Прекрасно! наводим на кнопку - она становится темного цвета, а текст становится желто-токсичным,
нажимаем на неё - она становится практически белого цвета.
Идем дальше - у нас есть див с классом .block, в нём есть три параграфа. Я хочу обратиться через
псевдокласс nth-child ко всем нечетным элементам параграфам в этом блоке и сделать их цвет желтого
цвета. Ну так чего же нам ждать? давайте сразу и применим нужные стили!
*/

.block p:nth-child(odd) {
	background-color: yellow;
}

/*
Великолепно! все нечетные (а это первый и третий элементы) параграфы поменяли цвет фона на желтый,
значит наши стили применились. Теперь применим стили ко всем ЧЕТНЫМ параграфам - я хочу сделать цвет
фона четных параграфов каким нибудь серым, не очень заметным. Сразу же и применим нужные стили:
*/

.block p:nth-child(even) {
	background-color: #eee;
}

/*
Не описать словами! всё четные (а это второй элемент) параграфы поменяли цвет фона на серый.
Теперь я хочу применить стили отдельно к каждому параграфу в блоке, используя тот же nth-child!
Изменю я только цвет фона, но на какой - не скажу, вы сами увидите это (пустая трата времени):
*/

.block p:nth-child(1) {
	background-color: yellow;
}

.block p:nth-child(2) {
	background-color: #eee;
}

.block p:nth-child(3) {
	background-color: green;
}

/*
У меня кончаются слова для старта предложений! в принципе ничего не изменилось: только последний
параграф стал зеленым, а так... а так ничего. Но всё это слишком СКУУУЧНО! зрители (и я) требуют
зрелища! специально для этого у меня есть спецприём: использование нескольких псевдоклассов!!!
Применять несколько псевдычей мы будем к третьему параграфу, а скомбинируем мы nth-child и hover -
мы будем менять цвет его фона на желтый при наведении:
*/

.block p:nth-child(3):hover {
	background-color: yellow;
}

/*
Я не знаю что писать! наводим на третий параграф - меняется цвет фона, значит псевдоклассы
сработали как надо. Вообще, комбинация очень удобная - не знаю почему Жека не показал в основных
уроках, многим такая информация пригодится (мне, например).

А на этом... ВСЁ!!! дз в папке "Домашка" :)
*/