/*
Для начала сделаем небольшой отступ со всех сторон окна браузера, ибо наш HTML список будет "липнуть" к краям:
*/

body {
	padding: 30px;
}

/*
Теперь застилизуем наши li'шки - изменим размер текста на больший (ибо он уж больно маленький), а еще добавим отступ
между нашиими li'шками (они, опять же, липнут):
*/

.list li {
	font-size: 24px;
	margin: 0 0 15px 0;
}

/*
А теперь добавим сами иконки. А добавим мы их через background, сдвинув при этом влево. Мы бы использовали background-size
со значением left, но так как у нас есть такое прекрасное свойство как background - использовать будем именно его (всё равно
будем добавлять иконки, так почему бы и не "внедрить" bg-size внутрь background?):
*/

.list li {
	background: url('../img/icons/li.svg') left no-repeat;
}

/*
Ну вот, добавили. Но есть однас проблемас... иконки то, ПОД li'шками! Не хорошо получается, не хорошо! нельзя маленьких
обижать, особенно если это иконки. Исправлять ситуэйшен мы будем используя padding'и special для li:
*/

.list li {
	padding: 0 0 0 30px;
} 

/*
Всё, всё готово! получилось очень даже красиво, иконки действительно красивые и подходят li'шкам!
Осталось только добавить, что если у li'шек будет МНООООООООООООООООГО текста, bg-position со значением left - не сработает.
А точнее сработает, но иконка будет.. как бы посередине, но всё также слева. Исправляется это добавление слова "top". Т.е,
мы "смешиваем" наши значения: иконка окажется слева и сверху, в левом верхнем углу (но будет не так красиво, как по мне).
Применим всё те же самые стили ко второму списку (еще добавим отступ для 2-го списка, он липнет к первому):
*/

.list-two {
	margin: 35px 0 0 0;
}

.list-two li {
	font-size: 24px;
	background: url('../img/icons/li.svg') left top no-repeat;
	margin: 0 0 15px 0;
	padding: 0 0 0 30px;
}

/* Ну вот теперь точно всё! домашнее задание в папке "Домашка" :) */