/*
В тексте наиболее используемое семейство шрифтов - Arial, в то время как Times New Roman используется меньше.
Поэтому, задаем для body семейство шрифтов - arial, чтобы всё остальное "переняло по наследству".
*/

body {
	font-family: Arial;
}

h1 {
	font-size: 30px;
	color: #445161;
}

h2 {
	font-size: 25px;
	color: #445161;
}

.text {
	color: #333333;
	line-height: 25px;
}

.bold {
	font-weight: bold;
	color: #333333;
}

.red {
	color: #ff0000;
}

/* А на этом, собстна, всё :) ДЗ в папке "Домашка"! */